@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&family=Karla&display=swap");

:root {
  --clr-white: #fff;
  --clr-dark: hsl(205, 86%, 17%);
  --clr-secondary: rgb(73, 166, 233);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  border: none;
}

body {
  min-height: 100vh;
  display: grid;
  place-content: center;
  background-color: rgb(239, 242, 249);
  font-family: "Inter", sans-serif;
  overflow: hidden;
}

.container {
  /* width: 98%; */
  background: var(--clr-white);
  padding: 1rem;
}

.container h4 {
  text-align: center;
}

form {
  text-align: center;
}

.form-control {
  border: 1px solid gray;
  padding: 0.5rem;
  width: 100%;
}

::placeholder {
  font-family: inherit;
  font-size: 1rem;
}

.btn {
  background: var(--clr-dark);
  transition: background-color 0.25s ease-out;
  font-size: 1rem;
  color: var(--clr-white);
  padding: 0.5rem 1.5rem;
  width: 100%;
}

.btn:hover {
  background-color: hsl(205, 86%, 30%);
  color: var(--clr-white);
}

table {
  background: var(--clr-white);
}

.table-overlay {
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  z-index: 999;
  inset: 0;
  padding: 2rem;
  place-content: center;
  display: none;
}

/* .hide-table-overlay{

} */

.close-btn {
  position: absolute;
  top: 0;
  right: 2rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--clr-white);
  background: none;
}
